@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    width: 370px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    padding: 24px 0 35px 0;
    margin-bottom: 20px;
}

